PORT_MANAGER_USERNAME=admin
PORT_MANAGER_PASSWORD=change-me
PORT_MANAGER_SESSION_SECRET=replace-with-at-least-32-random-characters
PORT_MANAGER_DATA_PATH=./data/ports.json
PORT_MANAGER_COOKIE_SECURE=false
